@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Nunito:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Bree Serif', serif;
    background-color: var(--bs-dark);
}

.card {
    /* border: 2px solid; */
    margin: 9px 0px;

}

.card-img-top {
    padding: 4px;
}